<div>
  <div>
    <label *ngFor="let nutrient of nutrition">
      Food name:
      {{ nutrient.food_name }}
      Serving quantity:
      {{ nutrient.serving_qty }}
      Serving weight in grams:
      {{ nutrient.serving_weight_grams }}
      Calories:
      {{ nutrient.nf_calories }}
      Total fat:
      {{ nutrient.nf_total_fat }}
      Saturated fat:
      {{ nutrient.nf_saturated_fat }}
      Cholesterol:
      {{ nutrient.nf_cholesterol }}
      Sodium:
      {{ nutrient.nf_sodium }}
      Carbohydrate:
      {{ nutrient.nf_total_carbohydrate }}
      Fiber:
      {{ nutrient.nf_dietary_fiber }}
      Sugar:
      {{ nutrient.nf_sugars }}
      Protein:
      {{ nutrient.nf_protein }}
      Potassium:
      {{ nutrient.nf_potassium }}
    </label>
  </div>
  <div>
    <div *ngFor="let gym of gyms">
      Gym name:
      {{ gym.name }}
      City:
      {{ gym.city }}
      Zip code:
      {{ gym.zipCode }}
      Address:
      {{ gym.address }}
      Web page:
      {{ gym.url }}
    </div>
  </div>
  <div>
    <button (click)="getWorkouts()">Get workouts</button>
    <div *ngFor="let workout of workouts">
      Workout:
      {{ workout.name }}
      Day:
      {{ workout.day}}
      Description:
      {{ workout.description }}
      Exercises:
      <label *ngFor="let exercise of workout.exercises">
        {{ exercise }}
      </label>
    </div>
  </div>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Gym Tonic</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Weight Loss</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Newsletter</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">Top Posts
          <small>From Food and Fitness</small>
        </h1>

        <!-- Blog Post -->
        <div class="0 mb-4">
          <img class="card-img-top" src="https://img.aws.livestrongcdn.com/ls-article-image-673/s3-us-west-1.amazonaws.com/contentlab.studiod/11/6/152a75d078e54924a2933b82880474df.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">This Avocado Pizza Is Only 100 Calories Per Slice</h2>
            <p class="card-text">Everyone's favorite cheat day dish gets a light makeover. Cheese and pepperoni are great and all, but feast your eyes on this delicious, diet-friendly avocado and cream cheese pizza. Featuring whole grain dough, arugula and avocados, this dish is the perfect balance of grains, greens, and healthy fats. Happy munching.
            </p>
            <p>INGREDIENTS</p>
            <p>SERVES 4</p>
            <ul>
              <li>1 serving whole grain pizza dough</li>
              <li>4 clove garlic</li>
              <li>1/4 cup Kite Hill Almond Milk Cream Cheese</li>
              <li>1 fruit without skin and seed Avocados, raw, California</li>
              <li>1/4 cup Trader Joe's Vegan Kale Cashew and Basil Pesto</li>
              <li>2 cups Wild Arugula</li>
            </ul>
            <p>DIRECTIONS</p>
            <p>Preheat the oven to 500°F. Place a baking sheet in the oven as it heats. On a sheet of parchment paper on a work surface, roll and pull a ball of pizza dough into a thin round approximately 10 inches across. Spread dough with minced garlic.
              2Transfer rolled 6- to 8-ounce pizza dough to baking sheet in the oven. Bake until the dough has set, and the edges are brown, about 5 minutes. Remove baking sheet from oven and allow the crust to cool slightly about 10 minutes.
              3Spread warm pizza crust with Kite Hill Almond Milk Cream Cheese. Top it with avocado slices. Drizzle pesto over the slices, then pile the greens in the center of the pizza and garnish with flaky sea salt (just a little, depending on how salty the pesto is) and freshly cracked black pepper.
              4Serve with crushed red pepper, grated parmesan cheese or nutritional yeast and pickled onions on the side.
            </p>
          </div>
          <div class="card-footer text-muted">
            Posted on November 24, 2018
          </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="https://img.aws.livestrongcdn.com/ls-article-image-673/s3-us-west-1.amazonaws.com/contentlab.studiod/getty/edfcb9ddb4c64184b226ea9d70e5b7c9.jpg" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">3 Cardinal Rules of Fast Six-Pack Abs</h2>
            <p class="card-text">1. Focus on Form
              Have you ever heard the saying "form is fundamental"? Well, it's true. Not having the correct form when doing an exercise can reduce its effectiveness. Make sure to "think" about the muscles you are trying to exercise while you are performing the movement. It may sound a bit silly, but with time, you'll notice the difference. If you're not sure what I'm talking about, an easy way to try this is to lie on the floor and do two crunches. The first time, do it as you would normally. Then do it again, but this time contracting your abs while you do it. That's the difference between engaging and not engaging your core. This five-minute workout by Livestrong.com trainer Natalie Jill is a great example of basic movements — that aren't crunches — that will deliver killer abs:
            </p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pLHVdZoNJAM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>2. Eat Clean and Eat Lean
              One of your abs' biggest enemies is processed sugars. I know they're delicious, but if you have your eyes on the prize -- a sculpted midsection -- you'll have to make a few sacrifices. No processed sugars and carbs. Focus on lean proteins, veggies and some complex carbs. Eggs are a personal favorite of mine and of many trainers. They are easy to prepare and a great and affordable lean protein. If you want a little more diversity, you can always try one of these 14 protein-packed breakfasts.
            </p>
          </div>
          <div class="card-footer text-muted">
            Posted on November 27, 2018
          </div>
        </div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Gym search <i class="fas fa-dumbbell"></i></h5>
          <div class="card-body">
            <div class="input-group">
              <input #searchGyms type="text" class="form-control" placeholder="Search for nearby gyms...">
              <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button" (click)="findGyms(searchGyms.value)">Search</button>
                </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Nutrtion Calculator <i class="fas fa-utensils"></i></h5>
          <div class="card-body">
            <div class="nutrition-input input-group">
              <!--<input #searchNutirent type="text" class="form-control" placeholder="Calculate a meal's nutritions...">-->
              <textarea  #searchNutirent class="form-control" rows="5" placeholder="Calculate a meal's nutritions..."></textarea>
            </div>
            <div class="serving-input input-group">
              <input #nutrientServing type="number" class="form-control">
              <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"
                    (click)="calculateNutrients(searchNutirent.value, nutrientServing.value)">Calculate</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget<i class="fas fa-football-ball"></i></h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Gym Tonic 2018</p>
    </div>
    <!-- /.container -->
  </footer>
</div>
