.serving-input {
  width: 50%;
  float: right;
}

.card {
  height: 12%;
}

.fas {
  float: right;
}

.card-header {
  background: lightblue;
}

.card {
  overflow-y: auto;
}

.repetition {
  display: inline-block;
  width: 20%;
}

.far {
  display: inline-block;
  font-size: 150%;
  padding-left: 15%;
}

.btn {
  /*float: right;*/
  margin: 1%;
}
