<div>
  <h1>Dirr geco!!</h1>
  <div>
    <label>Nutrient</label>
    <input #searchNutirent>
    <label>Serving</label>
    <input #nutrientServing>
  </div>
  <button (click)="calculateNutrients(searchNutirent.value, nutrientServing.value)">Muta</button>
  <div>
    <label *ngFor="let nutrient of nutrition">
      Food name:
      {{ nutrient.food_name }}
      Serving quantity:
      {{ nutrient.serving_qty }}
      Serving weight in grams:
      {{ nutrient.serving_weight_grams }}
      Calories:
      {{ nutrient.nf_calories }}
      Total fat:
      {{ nutrient.nf_total_fat }}
      Saturated fat:
      {{ nutrient.nf_saturated_fat }}
      Cholesterol:
      {{ nutrient.nf_cholesterol }}
      Sodium:
      {{ nutrient.nf_sodium }}
      Carbohydrate:
      {{ nutrient.nf_total_carbohydrate }}
      Fiber:
      {{ nutrient.nf_dietary_fiber }}
      Sugar:
      {{ nutrient.nf_sugars }}
      Protein:
      {{ nutrient.nf_protein }}
      Potassium:
      {{ nutrient.nf_potassium }}
    </label>
  </div>
  <div>
    <label>Gym</label>
    <input #searchGyms>
  </div>
  <button (click)="findGyms(searchGyms.value)">Acca</button>
  <div>
    <div *ngFor="let gym of gyms">
      Gym name:
      {{ gym.name }}
      City:
      {{ gym.city }}
      Zip code:
      {{ gym.zipCode }}
      Address:
      {{ gym.address }}
      Web page:
      {{ gym.url }}
    </div>
  </div>
  <div>
    <button (click)="getWorkouts()">Get workouts</button>
    <div *ngFor="let workout of workouts">
      Workout:
      {{ workout.name }}
      Day:
      {{ workout.day}}
      Description:
      {{ workout.description }}
      Exercises:
      <label *ngFor="let exercise of workout.exercises">
        {{ exercise }}
      </label>
    </div>
  </div>
</div>
